
@{
    ViewData["Title"] = "Discount";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<form action="/" method="post">
    <div class="codediscount">
        <div class="textdis">
            Code Discount
        </div>
        <input class="inputdis" type="text" />
    </div>
    <div class="pricediscount">
        <div class="textdis">
            Price Discount
        </div>
        <input class="inputdis" type="text" />
    </div>
    <div class="activediscount">
        <div class="textdisac">
             Active
        </div>
        <input class="inputcheck" type="checkbox" />
    </div>
    <div class="buttondiscount">
        <button class="btndis">
            Add Discount
        </button>
    </div>
    <div class="editdis">
        <a class="editsdis" href="@Url.Action("Discountlist")">Edit</a>
    </div>
</form>

