
@{
    ViewData["Title"] = "Discountedit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<form action="/" method="post">
    <div class="codediscount">
        <div class="textdis">
            Code Discount
        </div>
        <input class="inputdis" type="text" />
    </div>
    <div class="pricediscount">
        <div class="textdis">
            Price Discount
        </div>
        <input class="inputdis" type="text" />
    </div>
    <div class="activediscount">
        <div class="textdisac">
            Active
        </div>
        <input class="inputcheck" type="checkbox" />
    </div>
    <div class="buttondiscount">
        <button class="btndis">
            Update Discount
        </button>
    </div>
</form>

