
@{
    ViewData["Title"] = "Useredit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="nameuser">
    <div class="useredit">
        Fullname
    </div>
    <input class="inputedit" type="text" />
</div>
<div class="nameuser">
    <div class="useredit">
        Age
    </div>
    <input class="inputedit" type="text" />
</div>
<div class="nameuser">
    <div class="useredit">
        Email
    </div>
    <input class="inputedit" type="text" />
</div>
<div class="nameuser">
    <div class="useredit">
        Phonenumber
    </div>
    <input class="inputedit" type="text" />
</div>
<div class="nameusers">
    <div class="useredit">
        Gender
    </div>

    <select name="gender" id="genders">
        <option value="" disabled selected hidden>Gender</option>
        <option id="custom" value="Female">Male</option>
        <option id="custom" value="Male">Female</option>
    </select>
</div>
<div class="nameaddress">
    <div class="useredit">
        Address one
    </div>
    <input class="inputedit" type="text" />
</div>
<div class="nameaddress">
    <div class="useredit">
        Address two
    </div>
    <input class="inputedit" type="text" />
</div>
<div class="nameamount">
    <div class="useredit">
        SpentAmount
    </div>
    <input class="inputedit" type="text" />
</div>
<div class="buttonuseredit">
    <button class="btnuser">
        Update User
    </button>
</div>



