
@{
    ViewData["Title"] = "Vipedit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<form action="/" method="post">
    <div class="vipname">
        <div class="textvips">
            Name
        </div>
        <input class="inputvip" type="text" />
    </div>
    <div class="pricediscounts">
        <div class="textvip">
            Price Discount
        </div>
        <input class="inputvip" type="text" />
    </div>
    <div class="amount">
        <div class="textamount">
            Amount
        </div>
        <input class="inputvip" type="text" />
    </div>
    <div class="activevip">
        <div class="textvipcheck">
            Active
        </div>
        <input class="inputchecks" type="checkbox" />
    </div>
    <div class="buttonvip">
        <button class="btnvip">
            Update Viprank
        </button>
    </div>
</form>

