.table {
    font-stretch: ultra-condensed;
    font-weight: 100;
}

    .table th {
        color: darkgrey;
        text-align: center;
    }

.img {
    width: 80px;
    height: 50px;
}

.table td {
    text-align: center;
}

.iconone {
    color: #a5a5a5;
}

    .iconone:hover {
        color: black;
    }

#scrollbarbrand {
    overflow-y: scroll;
    height: 846px;
}

.btnbackbra {
    color: grey;
}

.btnbackbra:hover {
    color: black;
}

@media only screen and (max-width:1366px) {
    #scrollbarbrand {
        height: 568px;
    }

    .backbra {
        margin-left: 850px;
    }

    .btnbackbra {
        color: grey;
    }

        .btnbackbra:hover {
            color: black;
        }
}
