.codediscount {
    margin-top: 250px;
    margin-left: 140px;
}

.textdis {
    font-stretch: ultra-condensed;
    font-size: 20px;
    font-weight: 100;
    color: #a5a5a5;
    margin-left: 90px;
}

.inputdis {
    width: 300px;
    height: 30px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #a5a5a5;
    outline: none;
    font-stretch: ultra-condensed;
    font-weight: 100;
}

.pricediscount {
    margin-top: -60px;
    margin-left: 650px;
}

.activediscount {
    margin-top: 90px;
    margin-left: 400px;
}

.inputcheck {
    width: 20px;
    height: 20px;
    border: 1px solid #a5a5a5;
    margin-left: 141px;
    margin-top: 10px;
}
.buttondiscount {
    text-decoration: none;
    margin-top: 66px;
    margin-left:451px;
    font-stretch: ultra-condensed;
    font-size: 18px;
    font-weight: 100;
    color: #a5a5a5;
}
.btndis {
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #a5a5a5;
    color: black;
    font-stretch: ultra-condensed;
    font-weight: lighter;
    font-size: 15px;
    transition: background-color 0.5s;
}

    .btndis:hover {
        color: white;
        background-color: #a5a5a5;
        border: 1px solid black;
    }
@media only screen and (max-width:1366px){
    .codediscount {
        margin-top: 187px;
        margin-left: 97px;
    }
    .pricediscount {
        margin-top: -61px;
        margin-left: 487px;
    }
    .activediscount {
        margin-top: 60px;
        margin-left: 294px;
    }
    .textdisac {
        font-stretch: ultra-condensed;
        font-size: 20px;
        font-weight: 100;
        color: #a5a5a5;
        margin-left: 125px;
    }
    .buttondiscount {
        margin-top: 39px;
        margin-left: 349px;
    }
    .editdis {
        margin-top: 20px;
        margin-left: 435px;
    }

    .editsdis {
        color: #a5a5a5;
        font-weight: bold;
        text-decoration: none;
    }

        .editsdis:hover {
            color: black;
        }
}