.nameproduct {
    margin-top: 100px;
    margin-left: 100px;
}
.textpr {
    margin-left: 65px;
    margin-bottom: 8px;
    font-stretch: ultra-condensed;
    font-size: 15px;
    font-weight: 100;
    color: #a5a5a5;
}
.input {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #a5a5a5;
    outline: none;
    font-stretch: ultra-condensed;
    font-weight: 100;
}
.priceproduct {
    margin-top: 40px;
    margin-left: 100px;
}
.brandproduct {
    margin-top: -154px;
    margin-left: 450px;
}
.typeproduct {
    margin-top: 38px;
    margin-left: 450px;
}
.dateproduct {
    margin-top: -159px;
    margin-left: 850px;
}
.textprs {
    margin-left: 63px;
    margin-bottom: 8px;
    font-stretch: ultra-condensed;
    font-size: 15px;
    font-weight: 100;
    color: #a5a5a5;
}
#day {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #a5a5a5;
    outline: none;
    font-stretch: ultra-condensed;
    font-size: 15px;
    font-weight: 100;
    margin-top: 5px;
    margin-left: -25px;
}
#month {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #a5a5a5;
    outline: none;
    font-stretch: ultra-condensed;
    font-size: 15px;
    font-weight: 100;
    margin-top: 5px;
    margin-left: 40px;
}

#Year {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #a5a5a5;
    outline: none;
    font-stretch: ultra-condensed;
    font-size: 15px;
    font-weight: 100;
    margin-top: 5px;
    margin-left: 40px;
}
.activeproduct {
    margin-top: 50px;
    margin-left: 865px;
}
.inputs {
    margin-left: 76px;
    width: 15px;
    height: 15px;
    margin-top: -5px;
}
.logo {
    margin-left: 100px;
    margin-top: 140px;
    width: 100px;
    height: 50px;
}

.upload {
    cursor: pointer;
    margin-left: 40px;
    border: 1px solid #a5a5a5;
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.5s;
    border: 1px solid #a5a5a5;
    transition: background-color 0.5s;
}

    .upload:hover {
        background-color: #a5a5a5;
        color: white;
    }
.description {
    margin-top: -100px;
    margin-left: 400px;
}

.des {
    width: 650px;
    height: 300px;
    border-radius: 20px;
    outline: none;
}


.buttonpro {
    margin-top: 60px;
    margin-left:626px;
}
.btnaddpro {
    width: 200px;
    height: 35px;
    background-color: white;
    color: black;
    border: 1px solid #a5a5a5;
    border-radius: 20px;
    font-stretch: ultra-condensed;
    font-size: 15px;
    font-weight: 100;
    transition: background-color 0.5s;
}
.btnaddpro:hover {
    background-color: #a5a5a5;
    color: white;
}
@media only screen and (max-width: 1366px) {
    .nameproduct {
        margin-top: 42px;
        margin-left: 75px;
    }
    .priceproduct {
        margin-top: 39px;
        margin-left: 79px;
    }
    .brandproduct {
        margin-top: -154px;
        margin-left: 372px;
    }
    .typeproduct {
        margin-top: 39px;
        margin-left: 372px;
    }
    .dateproduct {
        margin-top: -160px;
        margin-left: 600px;
    }
    #day {
        margin-top: 11px;
        margin-left: 27px;
    }
    #month {
        margin-left: 20px;
    }
    #Year {
        margin-left: 23px;
    }

    .textprs {
        margin-left: 100px;
    }
    .activeproduct {
        margin-top: -148px;
        margin-left: 620px;
    }
    .logo {
        margin-left: 74px;
        margin-top: 163px;
    }
    .description {
        margin-top: -82px;
        margin-left: 339px;
    }
    .des {
        width: 530px;
        height: 262px;
    }
    .buttonpro {
        margin-top: 22px;
        margin-left: 510px;
    }
    #typepr {
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
        border-bottom: 1px solid #a5a5a5;
        outline: none;
        font-stretch: ultra-condensed;
        font-size: 15px;
        font-weight: 100;
        margin-left: 43px;
        color: grey;
    }
    #brandpr {
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
        border-bottom: 1px solid #a5a5a5;
        outline: none;
        font-stretch: ultra-condensed;
        font-size: 15px;
        font-weight: 100;
        margin-left: 39px;
        color: grey;
    }
}
