@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
*@
@{
    Layout = "_layoutMain";
}

<div class="container">
    <div class="breadcrumbs">
        <ul>
            <li><a href="#"> Home </a></li>
            <li style="color: black"><a href="#"> About Us  </a></li>
        </ul>

    </div>
</div>
