@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
*@
@{



    Layout = "_layoutMain";
}
<style>
   
    .banner-page{
        position:relative;
        background:url(../img/aboutus.jpeg);
        width:100%;
        height:600px;
        margin:10px auto 40px;
        justify-content:center;
        align-items:center;
        text-align:center;
        background-size:cover;
       
       
    }
    .banner-page h2{
        position:relative;
        top:40%;
        left:0;
        transform:translate(0,0);
        font-size: 80px;
        font-weight:400;
        color: white;
    }
    .aboutUs p{
        font-size:14px;
    }
    
</style>



<div class="container">
    <div class="banner-page">
        <h2> About us </h2>
    </div>
    <div class="breadcrumbs">
        <ul>
            <li><a href="#"> Home </a></li>
            <li style="color: black"><a href="#"> About Us  </a></li>
        </ul>
    </div>
    <div class="aboutUs">
        <p>
            Alle is a British contemporary clothing brand with its operational headquarters and flagship unisexswear store in Viet Nam. Our large choice of styles, conceived in collaboration with our network of independent designers, combines heritage with modernity, simplicity with playfulness, and street style with understated elegance. We enjoy a vibrant, international customer community, and ship to every country in the world. We're conscious that we are a part of a chain that begins with farming and yarn production, and ends with style; we take our own responsibilities within that chain seriously, and are forging forward sensitive to the ethical considerations that preoccupy us and many of our customers alike. Olive is owned and operated by family-owned company Olive Clothing Limited, of Units 11B-D St George's
        </p>
    </div>
</div>
