@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{ Layout = "_layoutMain";
}
<style>
    .container {
        max-width: 1500px;
    }

    .product {
        position: relative;
        float: left;
        width: 32%;
        top: 0;
        left: 0;
        margin: 5px;
        border-radius: 30px;
        height: 650px;
        background-color: #fff;
        box-shadow: 0 5px 15px rgba(0, 0, 0,.25);
        overflow: hidden;
    }

        .product:hover .details {
            background: #ddd;
            box-shadow: 0 1px 0 2px rgba(0,0,0,.2);
            bottom: 0;
        }

    .imgbox {
        height: 100%;
        box-sizing: border-box;
    }

        .imgbox img {
            display: block;
            width: 100%;
            margin: 50px auto 50px;
        }

    .details {
        position: absolute;
        width: 100%;
        bottom: -350px;
        background: #fff;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 0 0 rgba(0, 0, 0, .25);
        transition: .5s;
        border-radius: 35px 35px 0 0;
    }

        .details h2 {
            margin: 0;
            padding: 0;
            font-size: 20px;
            font-weight: 400;
            width: 100%;
        }

        .details span {
            margin: 0;
            padding: 0;
            font-size: 12px;
            font-weight: 300;
            width: 100%;
        }

        .details .price {
            position: absolute;
            top: 25px;
            right: 25px;
            font-weight: 300;
            color: black;
            font-size: 22px;
        }

        .details label {
            display: block;
            margin-top: 5px;
            font-weight: 400;
            font-size: 20px;
        }

    .details ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

        ul li {
            list-style: none;
            margin: 5px 5px 0;
            font-size: 15px;
            font-weight: 300;
            color: black;
        }

            ul li:first-child {
                margin-left: 0;
            }

    .details a {
        display: block;
        padding: 10px;
        color: black;
        margin: 25px 0 25px;
        border-radius: 50px;
        background-color: transparent;
        text-align: center;
        text-decoration: none !important;
        transition: .3s;
        cursor: pointer;
        border: 1px solid black;
    }

        .details a:hover {
            background: #202020;
            color: white;
            border: 1px solid #fff;
        }

    .details ul li {
        display: flex;
        justify-content: center;
    }

        .details ul li span:hover {
            background: #202020;
        }

        .details ul li span {
            position: relative;
            width: 35px;
            font-size: 20px;
            height: 35px;
            border: 1px solid black;
            text-align: center;
            margin: 5px;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.2s ease;
            line-height: 35px;
        }

        .details ul li.active {
            background: #202020;
            color: white;
            border-radius: 50%;
        }

    .color-wrap ul {
        display: flex;
        justify-content: center;
        height: 40px;
        align-items: center;
    }

        .color-wrap ul li {
            width: 22px;
            height: 22px;
            background: #000;
            margin: 5px;
            border-radius: 50%;
            transition: all 0.2s ease;
            cursor: pointer;
        }

            .color-wrap ul li.active {
                width: 30px;
                border: 1px solid black;
                height: 30px;
            }

    .product-grid {
        position: relative;
        display: inline-block;
        padding: 0 20px;
    }

    .sort {
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 10px;
    }
    .bi-search::before {
        content: "\f52a";
        font-size: 20px;
        color: black;
    }
    #mySearch {
        box-sizing: border-box;
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        height: 40px;
        padding: 5px;
    }


        #mySearch:focus {
            outline: 3px solid #ddd;
        }

    .search-dropdown {
        position: relative;
        display: inline-block;
    }

    .search-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        z-index: 1;
        left: 30px;
        top: -10px;
        border: 1px solid darkgrey;
    }

        .search-dropdown-content input {
            border: none;
            width: 100%;
            overflow: visible;
            height: 40px;
            padding: 5px;
            outline: none;
        }

    .search-dropdown:hover .search-dropdown-content {
        display: block;
    }


    .sort-content {
        position: relative;
        padding: 10px;
    }
</style>
<ul class="infor">
    <li><a href="#"> Sign In  </a></li>
    <li><a href="#"> <i class="bi bi-handbag"></i> Bag </a></li>
    <li>
        <div class="search-dropdown">
            <a href="#"> <i class="bi bi-search"></i> </a>
            <div class="search-dropdown-content">
                <input type="text" placeholder="Search.." id="mySearch ">
            </div>
        </div>

    </li>


</ul>

@* information product*@
<div class="breadcrumbs">
    <ul>
        <li><a href="../Home/Index"> Home </a></li>
        <li style="color: black"><a href="../Product/Index"> Product  </a></li>
    </ul>
</div>
<div class="sort">
    <div class="sort-content">
        <label> Brand :</label>
        <select id="sort-brand" style=" border:none;">
            <option>All</option>


        </select>
    </div>
    <div class="sort-content">
        <label> Price :</label>
        <select id="sort-price" style=" border:none;">
            <option>All</option>
            <option>0$ - 100$</option>
            <option>100$ - 500$</option>
            <option>500$ -10004</option>
        </select>
    </div>
    <div class="sort-content">
        <label> Category :</label>
        <select id="sort-category" style=" border:none;">
            <option>All</option>


        </select>
    </div>
    <div class="sort-content">
        <label> Type :</label>
        <select id="sort-type" style=" border:none;">
            <option>All</option>

        </select>
    </div>
    <div class="sort-content">
        <div class="search-dropdown">
            <a href="#"> <i class="bi bi-search"></i> </a>
            <div class="search-dropdown-content">
                <input type="text" placeholder="Search.." id="mySearch ">
            </div>
        </div>
    </div>
    

</div>
<div class="product-grid">


</div>

<script></script>


